@mixin icon_size($width: 29.9px, $height: 37.6px) {
  width: $width;
  height: $height;
  object-fit: contain;
  object-position: center;
}

@mixin flex_center() {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin flex_between() {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin flex_end() {
  display: flex;
  align-items: center;
  justify-content: end;
}
@mixin flex_start() {
  display: flex;
  align-items: center;
  justify-content: start;
}

@mixin align_start() {
  display: flex;
  align-items: start;
}
@mixin align_center() {
  display: flex;
  align-items: center;
}
@mixin align_end() {
  display: flex;
  align-items: end;
}

@mixin flex_col_center() {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
}
@mixin flex_col_end() {
  display: flex;
  align-items: center;
  justify-content: end;

  flex-direction: column;
}
@mixin flex_col_start() {
  display: flex;
  align-items: center;
  justify-content: start;

  flex-direction: column;
}

// padding-inline: 9.375rem;

.home {
  width: 100%;

  &_category {
    background: var(--bg-soft);
    height: 12rem;
    width: 100%;

    @include flex_center();
    column-gap: 65px;
    &_item {
      @include flex_col_center();
      row-gap: 1.6rem;

      .shape {
        width: 84.2px;
        aspect-ratio: 1;
        background: var(--white);

        border-top-right-radius: 50%;
        border-bottom-left-radius: 50%;
        border-top-left-radius: 100%;
        border-bottom-right-radius: 100%;
        border: 1px solid var(--black);

        @include flex_center();
        img {
          @include icon_size();
        }
      }
      h5 {
        font-size: var(--fs_20);
        font-weight: var(--fw_regular);
        text-align: center;
        line-height: 1rem;
      }
    }
  }

  &_category_banner_container {
    height: 43.5rem;
    width: 100%;
    position: relative;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &_del_container {
    width: 100%;
    height: 11.81rem;
    background: var(--bg-white);

    padding-inline: 9.375rem;

    @include flex_between();
    border-bottom: 1px solid var(--border-light);

    .text {
      h1 {
        color: var(--text);
        font-size: var(--fs_32);
        font-weight: var(--fw_semibold);
      }
      &_green {
        color: var(--text-success);
      }
      &_orange {
        color: var(--text-warning);
      }
    }

    .form_container {
      form {
        @include flex_center();
        gap: 2.81rem;

        input {
          outline: none;
          border: none;
          background: transparent;
          border-bottom: 1px solid var(--border-black);
          padding-bottom: 0.5rem;

          font-size: var(--fs_18);
          font-weight: var(--fw_regular);

          &::placeholder {
            color: var(--text-black);
          }
        }

        .form_email {
          input {
            width: 20rem;
          }
        }
        .form_zip_code {
          input {
            width: 12.68rem;

            &::-webkit-inner-spin-button {
              display: none;
            }
          }
        }

        button {
          background: var(--bg-black);
          color: var(--text-white);
          font-size: var(--fs_18);
          // font-family: N_SB;
          font-weight: var(--fw_semibold);
          outline: none;
          border: none;
          border-radius: 50px;
          padding-inline: 2.72rem;
          padding-block: 1.16rem;
        }
      }
    }
  }
  &_best_seller_category {
    width: 100%;
    height: 55.87rem;
    // background: green;
    background: var(--bg-white);

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4.5rem;

    padding-top: var(--pad-3xl-plus);

    .texts_container {
      text-align: center;
      display: flex;
      flex-direction: column;
      row-gap: 2.5rem;
      .titel {
        display: flex;
        flex-direction: column;
        align-items: center;
        .logo {
          width: 2.56rem;
          height: 1.81rem;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
        h1 {
          font-size: var(--fs_42);
          font-weight: var(--fw_regular);
          color: var(--text-black);
        }
      }
      .subtitle {
        color: var(--text-secondary);
        font-size: var(--fs-24);
        font-weight: var(--fw_regular);
        width: 54.81rem;
      }
    }

    .cards_container {
      display: flex;
      align-items: center;
      column-gap: 3.125rem;
      .cart {
        width: 26.875rem;
        height: 30.625rem;
        overflow: hidden;

        // background: red;

        img {
          width: 100%;
          height: 18.81rem;
          object-fit: cover;
          object-position: center;
        }
        .cart_detils {
          position: relative;
          // font-family: N_R;
          display: flex;
          flex-direction: column;
          .rating {
            text-align: end;
          }
          .title {
            font-size: var(--fs_20);
            font-weight: var(--fw_regular);
          }
          .subtitle {
            font-size: var(--fs_16);
            padding-block: 0.5rem;
            text-wrap: nowrap;
          }
          .weight {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            .v_line {
              height: 1rem;
              width: 2px;
              background: var(--bg-gray);
            }
            h5 {
              font-size: var(--fs_16);
              color: var(--text-light);
              font-weight: var(--fw_semibold);
              span {
                color: var(--text);
              }
            }
          }
          .shop_item {
            @include flex_between();
            padding-top: 1rem;
            .mrp {
              h5 {
                // font-family: N_R;
                font-weight: var(--fw_regular);

                .mrp_ {
                  color: var(--text-success);
                  font-size: var(--fs_18);
                }
                .rs_ {
                  color: var(--text);
                  font-size: var(--fs_20);
                }
                .price_ {
                  font-size: var(--fs_30);
                  color: var(--text);
                }
              }
            }
            .add_to_cart {
              font-size: var(--fs_16);
              // font-family: N_R;
              font-weight: var(--fw_regular);
              padding-inline: 1.78rem;
              padding-block: 0.69rem;
              border: 1px solid var(--border);
              border-radius: 50px;
              transition: all 0.3s linear;

              &:active {
                scale: 0.99;
                background: var(--yellow);
              }
            }
          }
        }
      }
    }
  }
  &_fruits_category {
    width: 100%;
    height: 47.12rem;
    // background: yellow;
    background: var(--bg-white);

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4.5rem;

    padding-top: var(--pad-3xl-plus);

    .texts_container {
      text-align: center;
      display: flex;
      flex-direction: column;
      row-gap: 2.5rem;

      .titel {
        display: flex;
        flex-direction: column;
        align-items: center;
        .logo {
          width: 2.56rem;
          height: 1.81rem;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
        h1 {
          font-size: var(--fs_42);
          // font-family: N_B;
          font-weight: var(--fw_regular);
          color: var(--text-black);
        }
      }
      .subtitle {
        color: var(--text-secondary);
        font-size: var(--fs-24);
        // font-family: N_R;
        font-weight: var(--fw_regular);
        width: 54.81rem;
      }
    }
    .carts_container {
      @include flex_center();
      column-gap: 1.875rem;

      .cart {
        width: 20.375rem;
        height: 24.56rem;

        overflow: hidden;
        // background: red;

        img {
          width: 100%;
          height: 15.5em;
        }
        .cart_detils {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .title {
            font-size: var(--fs_20);
            // font-family: N_R;
            font-weight: var(--fw_regular);
            padding-block: 0.9rem;
          }
          .weight {
            // font-family: N_R;
            font-weight: var(--fw_regular);
            font-size: var(--fs_16);
            color: var(--text-light);
            span {
              color: var(--text);
            }
          }
          .shop_item {
            @include flex_between();
            padding-top: 0.5rem;

            .mrp {
              font-weight: var(--fw_regular);
              &_ {
                color: var(--text-light);
                font-size: var(--fs_18);
              }
              .rs_ {
                color: var(--text-success);
                font-size: var(--fs_18);
              }
              .price_ {
                color: var(--text);
                font-size: var(--fs_30);
              }
            }

            .add_to_cart {
              font-size: var(--fs_16);
              // font-family: N_R;
              font-weight: var(--fw_regular);
              padding-inline: 1.78rem;
              padding-block: 0.69rem;
              border: 1px solid var(--border);
              border-radius: 50px;
              transition: all 0.3s linear;

              &:active {
                scale: 0.99;
                background: var(--yellow);
              }
            }
          }
        }
      }
    }
  }
  &_popular_category {
    width: 100%;
    height: 55.31rem;
    // background: rgb(199, 7, 125);

    background: var(--bg-white);

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4.5rem;

    padding-top: var(--pad-3xl-plus);

    .texts_container {
      text-align: center;
      display: flex;
      flex-direction: column;
      row-gap: 2.5rem;
      .titel {
        display: flex;
        flex-direction: column;
        align-items: center;
        .logo {
          width: 2.56rem;
          height: 1.81rem;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
        h1 {
          font-size: var(--fs_42);
          color: var(--text-black);
          font-weight: var(--fw_regular);
        }
      }
      .subtitle {
        color: var(--text-secondary);
        font-size: var(--fs-24);
        font-weight: var(--fw_regular);
        width: 54.81rem;
      }
    }
    .carts_container {
      @include flex_center();
      column-gap: 1.875rem;

      .cart {
        width: 20.375rem;
        height: 24.56rem;

        overflow: hidden;
        // background: red;

        img {
          width: 100%;
          height: 15.5em;
        }
        .cart_detils {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .title {
            font-size: var(--fs_20);
            font-weight: var(--fw_regular);
            padding-block: 0.7rem;
          }
          .weight {
            // font-family: N_R;
            font-weight: var(--fw_regular);
            font-size: var(--fs_18);
            color: var(--text-light);
            span {
              color: var(--text);
            }
          }
          .shop_item {
            @include flex_between();
            padding-top: 0.8rem;

            .mrp {
              font-weight: var(--fw_regular);
              &_ {
                color: var(--text-light);
                font-size: var(--fs_18);
              }
              .rs_ {
                color: var(--text-success);
                font-size: var(--fs_18);
              }
              .price_ {
                color: var(--text);
                font-size: var(--fs_30);
              }
            }

            .add_to_cart {
              font-size: var(--fs_16);
              font-weight: var(--fw_regular);
              padding-inline: 1.78rem;
              padding-block: 0.69rem;
              border: 1px solid var(--border);
              border-radius: 50px;
              transition: all 0.3s linear;

              &:active {
                scale: 0.99;
                background: var(--yellow);
              }
            }
          }
        }
      }
    }
  }
  &_delivery_step_contener {
    height: 16.87rem;
    width: 100%;
    // background: crimson;
    position: relative;

    padding-inline: var(--pad-4xl);

    .delivery_background {
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      object-position: center;

      width: 100%;
      height: 100%;

      z-index: 88;
    }

    .delivery_step {
      // background: red;
      position: relative;
      width: 100%;
      height: 100%;

      z-index: 99;

      display: flex;
      align-items: center;
      justify-content: space-between;

      .step {
        text-align: center;
        color: var(--text-white);
        h3 {
          font-size: var(--fs_24);
          font-weight: var(--fw_regular);
        }
        p {
          font-size: var(--fs_14);
          font-weight: var(--fw_regular);
        }
      }
      .step_1 {
        img {
          width: 4.31rem;
          height: 3.85rem;
          object-fit: cover;
          object-position: center;
        }
      }
      .step_2 {
        img {
          width: 3.52rem;
          height: 3.85rem;
          object-fit: cover;
          object-position: center;
        }
      }
      .step_3 {
        img {
          width: 5.43rem;
          height: 3.72rem;
          object-fit: cover;
          object-position: center;
        }
      }
      .step_4 {
        img {
          width: 5.5rem;
          height: 3.41rem;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }
  &_explore_category {
    width: 100%;
    height: 96.25rem;
    background: purple;

    padding-top: 9.19rem;

    .texts_container {
      text-align: center;
      display: flex;
      flex-direction: column;
      row-gap: 2.5rem;
      .titel {
        display: flex;
        flex-direction: column;
        align-items: center;
        .logo {
          width: 2.56rem;
          height: 1.81rem;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
        h1 {
          font-size: var(--fs_42);
          color: var(--text-black);
          font-weight: var(--fw_regular);
        }
      }
      .subtitle {
        color: var(--text-secondary);
        font-size: var(--fs-24);
        font-weight: var(--fw_regular);
        width: 54.81rem;
      }
    }
  }
  &_instagram_feed {
    width: 100%;
    height: 29rem;
    background: blue;
  }
  &_discover_container {
    width: 100%;
    height: 35rem;
    background: gainsboro;
  }
  &_footer {
    width: 100%;
    height: 35.68rem;
    background: rgb(6, 6, 39);
  }
}
